{% extends "base_generic.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}
<section class="hero is-fullheight gradient-blue">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h3 class="title has-text-white">Login</h3>
                    <p class="subtitle has-text-white">Para entrar completa el formulario.</p>
                    <div class="box">
                        <form>
                            <div class="field">
                                <div class="control">
                                    <input class="input" type="email" placeholder="Email" autofocus="">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input" type="password" placeholder="Contraseña">
                                </div>
                            </div>
                            <button class="button is-rounded is-block is-info is-fullwidth">Login</button>
                        </form>
                    </div>
                    <p class="has-text-white">
                        <a href="../" class="has-text-white">Registrarme</a> &nbsp;·&nbsp;
                        <a href="../" class="has-text-white">Olvide mi contraseña</a> &nbsp;·&nbsp;
                    </p>
                </div>
            </div>
        </div>
    </section>
<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Olvidaste tu contraseña?</a></p>

{% endblock %}