{% extends "base_generic.html" %}

{% block content %}
<h1>Biblioteca | Inicio</h1>

<p>Bienvenido a la <em>Biblioteca</em>, nuestro proyecto para la materia de Paradigmas de la Programación.</p>
<p>Desarrollado por Eduardo Alcalá y Gregorio Hernández</p>

<p>La biblioteca cuenta con la siguiente información:</p>
<ul>
<li><strong>Libros:</strong> {{ num_books }}</li>
<li><strong>Copias:</strong> {{ num_instances }}</li>
<li><strong>Copias disponibles:</strong> {{ num_instances_available }}</li>
<li><strong>Autores:</strong> {{ num_authors }}</li>
</ul>


Has visitado esta página {{ num_visits }} veces.

{% endblock %}