{% extends "base_generic.html" %}

{% block content %}
<style>
  .hero{
    margin:10px auto 0px auto !important;
  }
</style>
<section class="hero welcome is-small is-primary">
      <div class="hero-body">
        <div class="container">
            <h1 class="title">{{ author }}</h1>
            <h2 class="subtitle">{{author.date_of_birth}} - {% if author.date_of_death %}{{author.date_of_death}}{% endif %}</h2>
        </div>
    </div>
</section>
<section class="section cont-normal column is-12">
<h4 class="subtitle is-3">Libros</h4>

<div class="column is-12 mrg-p">
{% for book in author.book_set.all %}
<div class="column is-12 card">
  <a href="{% url 'book-detail' book.pk %}">{{book}}</a> ({{book.bookinstance_set.all.count}})
  <dd>{{book.summary}}</dd>
  </div>
{% endfor %}
</div>
</section>
{% endblock %}
