{% extends "base_generic.html" %}

{% block content %}
<style>
  .hero{
    margin:10px auto 0px auto !important;
  }
</style>
<section class="hero welcome is-small is-primary">
      <div class="hero-body">
        <div class="container">
            <h1 class="title">{{ author }}</h1>
            <h2 class="subtitle">{{author.date_of_birth}} - {% if author.date_of_death %}{{author.date_of_death}}{% endif %}</h2>
        </div>
    </div>
</section>

<section class="section cont-normal column is-12">
	<h4 class="subtitle is-3">Libros</h4>
	{% for book in author.book_set.all %}
        <div class="card column mrg-p is-12 n-card">
          <header class="card-header center">
          	<p class="card-header-title"><a href="{% url 'book-detail' book.pk %}">{{book}}</a>
  ({{book.bookinstance_set.all.count}})
          </p>
          </header>
          <div class="card-content">
              <div class="media-content">
                <p>  <dd>{{book.summary}}</dd>
                </p>
              </div>
          </div>
          <footer class="card-footer">
            <a href="{% url 'book-detail' book.pk %}" class="card-footer-item">Más información</a>
          </footer>
        </div>
        {% endfor %}
      </section>
</section>
{% endblock %}
