{% extends "base_generic.html" %}

{% block content %}
<style>
  .hero{
    margin:10px auto 0px auto !important;
  }
</style>

<section class="hero welcome is-small is-primary">
      <div class="hero-body">
        <div class="container">
            <h1 class="title">Libros en préstamo</h1>
            <h2 class="subtitle">Aquí aparecerán los libros que has pedido prestados</h2>
        </div>
    </div>
</section>

    {% if bookinstance_list %}

      {% for bookinst in bookinstance_list %} 
      <section class="section cont-normal column is-12">
        <div class="card column mrg-p is-3 n-card">
          <header class="card-header center">
            <p class="card-header-title">Libro:  &nbsp;<a href="{% url 'book-detail' bookinst.book.pk %}">  {{bookinst.book.title}}</a></p>
          </header>
          <div class="card-content">
              <div class="media-content">
      <p class="{% if bookinst.is_overdue %}text-danger{% endif %}">Fecha de entrega: ({{ bookinst.due_back }})</p>
            </div>
          </div>
          <footer class="card-footer">
            <a href="{% url 'book-detail' bookinst.book.pk %}" class="card-footer-item">Ver página de Libro</a>
          </footer>
        </div>
        {% endfor %}
      </section>

    {% else %}
    <section class="section">
    <article class="message is-link">
      <div class="message-body">
        <p>Aún no hay libros en préstamo.</p>
      </div>
    </article>
    </section>
    {% endif %}       
{% endblock %}

