{% extends "base_generic.html" %}
<section class="hero welcome is-small is-primary">
      <div class="hero-body">
        <div class="container">
            <h1 class="title">Libros</h1>
            <h2 class="subtitle">Los libros recien agregados al catalogo de la biblioteca</h2>
        </div>
    </div>
</section>  

{% block content %}
<style>
  .hero{
    margin:10px auto 0px auto !important;
  }
</style>
<section class="hero welcome is-small is-primary">
      <div class="hero-body">
        <div class="container">
            <h1 class="title">Libros</h1>
            <h2 class="subtitle">Los libros recien agregados al catalogo de la biblioteca</h2>
        </div>
    </div>
    </section>

    <!---->
    <section class="section cont-normal column is-12">
      {% if book_list %}
      {% for book in book_list %}
      <div class="card column mrg-p is-2 n-card">
        <div class="card-image">
          <figure class="image is-5by4">
            <img src="https://www.resnap.com/images/products/a5portrait/a5-portrait-s.png" alt="Placeholder image">
          </figure>
        </div>
          <div class="card-content">
            <div class="media-content center">
              <p><a href="{{ book.get_absolute_url }}" class="title is-6">{{ book.title }}</a></p>
              <p class="subtitle is-7">{{book.author}}</p>
            </div>
          </div>
      </div>
      {% endfor %}
      {% else %}
      <p>Aún no hay libros.</p>
      {% endif %}

    </section>      
{% endblock %}

